/*!
 * A Super Basic CSS3 Template
 * Homepage: https://miminetto.com/
 * Copyright 2016 - 2021 Mimimi Netto
 * Version 2 - September 2021
*/

/*Default properties for your page*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
  font-family: sans-serif;
}

/* For responisve pages*/
@-ms-viewport{
 width: device-width;
}

/* Styling for a page layout of header+content+footer */

/* wrap everything a div to 'push' the footer to the bottom */
#wrapper {
	position: relative;
	min-height: 100%;
  height: auto !important;
	width: auto;
  margin: 0 auto -50px; /* 50 is the height of the footer*/
}

header {
	background:#f950ff;
	padding: 2%;
	border-bottom: 5px solid #280e29;
}

/* center a heading text*/
h1.center-heading{
  text-align: center;
	font-family: 'Grandstander', serif; /* we linked this font style from google in the index head*/
	color: #280e29;
}

/* float is the simplist way to have an image and/or text side by side */
i.fa-github {
	float:right;
}

#content {
  padding: 5% 5% 15px 5%; /* top | right | bottom | left */
  margin-right: 15px auto auto auto; /* top | right | bottom | left */
	height: 100vh;
}

footer {
	background:#8d50ff;
	height: 50px;
  padding: 15px;
	border-top: 5px solid #280e29;
}

/* I am using flex box to align the the two divs in the footer, it works similar to boostraps grid system */
/* learn more about flex https://css-tricks.com/snippets/css/complete-guide-grid/ */
/*  */

.flex-container {
    display: flex;
		flex-direction: grid; /* grid places the divs side by side */
}

.flex-child {
	flex: 1;
}

#todayIs {
		margin: auto;
    width: 50%;
}

/* @media is used to tailor the css for various screen sizes.  */
/* This will change the flex direction to columns when the screep is smaller than 800px  */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column; 		/* column places the divs on top of each other */
  }
	#todayIs {
			margin: auto;
	    min-width: 100%;
	}
}

/* classes for positioning images */

.images {
	margin-top: 5%;
}

/* center a image inside a div :vertical*/
img.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto
	}

	/* center a image*/
	img.right-img {
		float: right;
		}

	/* center a image*/
	img.left-img {
		float: left;
		}

/* center a paragraph*/
p.center-text{
  text-align: center;
}
