/*!
 * A Super Basic CSS3 Template
 * Homepage: https://miminetto.com/
 * Copyright 2016 - 2021 Mimimi Netto
*/

/*Default properties for your page*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
  font-family: sans-serif;
}

/* For responisve pages*/
@-ms-viewport{
 width: device-width;
}

/* Styling for a page layout of header+content+footer */
main {
	min-height:100%;
	position:relative;
}

header {
	background:#f950ff;
	padding:10px;
}

i.fa-github {
	margin-left: 5%;
}

#content {
  padding-left: 15px;
  padding-right: 15px;
	padding-bottom:50px; /* Height of the footer*/
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
}

footer {
	background:#8d50ff;
	width:100%;
	height:50px;
	position:relative;;
  padding: 15px;
	bottom:0;
	left:0;
}

/* some helpful classes*/

img.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } /* center a image*/

p.centerpar {
  text-align: center;
} /* center a paragraph*/

h1.centerhe {
  text-align: center;
} /* center a heading text*/
